.weather-card-wrapper {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 700px;
  margin: 10px;
  border-radius: 2px;
  font-family:'Courier New', Courier, monospace;
}

/* .weather-card-wrapper.cold-weather {
  --today-background-color: #fff;
  --tomorrow-background-color: blue;
}

.weather-card-wrapper.warm-weather {
  --today-background-color: #000
} */

.weather-card-wrapper p, h2 {
  padding: 5px;
  font-weight: bolder;
}

.today-icon-wrapper {
  font-size: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.today-icon-wrapper img {
  width: 150px;
}